.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #73c1c3,
    #60c0cb,
    #4abfd5,
    #32bde0,
    #12baeb
  );
}
